In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('UserTrends1.csv')
df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd0 in position 0: invalid continuation byte

In [21]:
#separating dates from time
df1 = pd.DataFrame(df.last_update.str.split(' ',1).tolist(), columns = ['date','time'])
df1.head()
df.head()

,available_bikes,last_update,name,latitude,longitude,available_bike_stands,bike_stands,status
0,0,29/03/2018 10:29,SMITHFIELD NORTH,53.349562,-6.278198,30,30,OPEN
1,16,29/03/2018 10:27,PARNELL SQUARE NORTH,53.353462,-6.265305,4,20,OPEN
2,26,29/03/2018 10:30,CLONMEL STREET,53.336021,-6.262980,7,33,OPEN
3,40,29/03/2018 10:24,MOUNT STREET LOWER,53.337960,-6.241530,0,40,OPEN
4,2,29/03/2018 10:32,CHRISTCHURCH PLACE,53.343368,-6.270120,18,20,OPEN

In [22]:
df = df[['name', 'latitude', 'longitude', 'available_bikes', 'available_bike_stands', 'bike_stands', 'status']]
df.head()

,name,latitude,longitude,available_bikes,available_bike_stands,bike_stands,status
0,SMITHFIELD NORTH,53.349562,-6.278198,0,30,30,OPEN
1,PARNELL SQUARE NORTH,53.353462,-6.265305,16,4,20,OPEN
2,CLONMEL STREET,53.336021,-6.262980,26,7,33,OPEN
3,MOUNT STREET LOWER,53.337960,-6.241530,40,0,40,OPEN
4,CHRISTCHURCH PLACE,53.343368,-6.270120,2,18,20,OPEN

In [23]:
frames = [df1, df]
df = pd.concat(frames, axis=1)
df.head()

,date,time,name,latitude,longitude,available_bikes,available_bike_stands,bike_stands,status
0,29/03/2018,10:29,SMITHFIELD NORTH,53.349562,-6.278198,0,30,30,OPEN
1,29/03/2018,10:27,PARNELL SQUARE NORTH,53.353462,-6.265305,16,4,20,OPEN
2,29/03/2018,10:30,CLONMEL STREET,53.336021,-6.262980,26,7,33,OPEN
3,29/03/2018,10:24,MOUNT STREET LOWER,53.337960,-6.241530,40,0,40,OPEN
4,29/03/2018,10:32,CHRISTCHURCH PLACE,53.343368,-6.270120,2,18,20,OPEN

In [24]:
df['day'] = np.where(df['date']=='29/03/2018', 'Thursday', 'no')

In [25]:
df.head()

,date,time,name,latitude,longitude,available_bikes,available_bike_stands,bike_stands,status,day
0,29/03/2018,10:29,SMITHFIELD NORTH,53.349562,-6.278198,0,30,30,OPEN,Thursday
1,29/03/2018,10:27,PARNELL SQUARE NORTH,53.353462,-6.265305,16,4,20,OPEN,Thursday
2,29/03/2018,10:30,CLONMEL STREET,53.336021,-6.262980,26,7,33,OPEN,Thursday
3,29/03/2018,10:24,MOUNT STREET LOWER,53.337960,-6.241530,40,0,40,OPEN,Thursday
4,29/03/2018,10:32,CHRISTCHURCH PLACE,53.343368,-6.270120,2,18,20,OPEN,Thursday

In [26]:
'''
for index, row in df.iterrows():
    if row['date'] == '29/03/2018' or row['date'] == '12/04/2018':
        df = df.append({'Day': "Thursday"}, ignore_index=True)

#df['day'] = df.apply(lambda row : convertToDay, axis=1) 
df.head()
'''

'\nfor index, row in df.iterrows():\n    if row[\'date\'] == \'29/03/2018\' or row[\'date\'] == \'12/04/2018\':\n        df = df.append({\'Day\': "Thursday"}, ignore_index=True)\n\n#df[\'day\'] = df.apply(lambda row : convertToDay, axis=1) \ndf.head()\n'