In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('UserTrends1.csv')
df.head()

,available_bikes,last_update,name,latitude,longitude,available_bike_stands,bike_stands,status
0,0,29/03/2018 10:29,SMITHFIELD NORTH,53.349562,-6.278198,30,30,OPEN
1,16,29/03/2018 10:27,PARNELL SQUARE NORTH,53.353462,-6.265305,4,20,OPEN
2,26,29/03/2018 10:30,CLONMEL STREET,53.336021,-6.262980,7,33,OPEN
3,40,29/03/2018 10:24,MOUNT STREET LOWER,53.337960,-6.241530,0,40,OPEN
4,2,29/03/2018 10:32,CHRISTCHURCH PLACE,53.343368,-6.270120,18,20,OPEN