In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('UserTrends.csv')
df.head()

  available_bikes;"last_update";"name";"latitude";"longitude";"available_bike_stands";"bike_stands";"status"
0  0;"2018-03-29 10:29:03";"SMITHFIELD NORTH";53....
1  16;"2018-03-29 10:27:20";"PARNELL SQUARE NORTH...
2  26;"2018-03-29 10:30:19";"CLONMEL STREET";53.3...
3  40;"2018-03-29 10:24:51";"MOUNT STREET LOWER";...
4  2;"2018-03-29 10:32:44";"CHRISTCHURCH PLACE";5...